name: CD - Deploy no GitHub Pages

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["CI - Validar e Testar"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      contents: write

    steps:
      - name: Baixar artefato do CI
        uses: actions/download-artifact@v4
        with:
          name: site-build
          path: dist

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v4

      - name: Upload para o GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

      - name: Publicar no GitHub Pages
        uses: actions/deploy-pages@v4
